<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



    <nav th:fragment="navbar">
        <div class="navbar-title">
            <a href="/">Bookish</a>
        </div>
        <div class="navbar-item">
            <a href="/browse">Browse</a>
        </div>
        <div class="navbar-item">
            <a href="/about">Members</a>
        </div>
        <div class="navbar-item">
            <a href="/about">History</a>
        </div>
        <div class="navbar-item">
            <a href="/about">Check-out</a>
        </div>
        <div class="navbar-item">
            <a href="/about">Check-in</a>
        </div>
        <div class="navbar-item">
            <a href="/about">About</a>
        </div>
    </nav>



</html>
