<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.BrowsePageModel"-->

<head>
    <title>Bookish - Browse</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/browse.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<div class="container">

    <div layout:fragment="content" class="container body-content">
        <h2>Book Information</h2>
        <div>
            <label>Use the search field to find books</label>
            <br>
            <form th:action="@{/browse/search}" method="post">
                <input  id="searchbar" type="search" name="searchbar" placeholder="Search...">
                <input type="submit" value="showSearchedBooks">
            </form>
            <table>

                <tr class="column-header">
                    <td><b>Title</b></td>
                    <td><b>Author</b></td>
                    <td><b>Release Date</b></td>
                    <td><b>ISBN</b></td>
                    <td><b></b></td>
                </tr>

                <tr th:each ="book : ${model.getBooks()}">
                    <td th:text ="${book.getTitle()}"></td>
                    <td th:text ="${book.getAuthor()}"></td>
                    <td th:text ="${book.getRelease_date()}"></td>
                    <td th:text ="${book.getIsbn()}"></td>
                    <td><a style="background-color: yellow; border-radius: 100px;" type="submit" th:href="${'/browse/delete-book?isbn=' + book.getIsbn()}" class="delete-button">DELETE THE DAMN BOOK</a></td>
                </tr>


            </table>

            <div>
                <h2>Add a book:</h2>
                <form th:action="@{/browse/add-book}" method="post">
                    <div class="add-book-row">
                        <label>
                            <span>Title: </span>
                            <input type="text" name="title">
                        </label>
                    </div>
                    <div class="add-book-row">
                        <label>
                            <span>Author: </span>
                            <input type="text" name="author">
                        </label>
                    </div>
                    <div class="add-book-row">
                        <label>
                            <span>ISBN: </span>
                            <input type="text" name="isbn">
                        </label>
                    </div>
                    <div class="add-book-row">
                        <label>
                            <span>Release Date: </span>
                            <input type="date" name="release_date">
                        </label>
                    </div>
                    <div class="add-book-row">
                        <span><!-- spacer --></span>
                        <input type="submit" value="Add book" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


</body>


</html>